.header { 
    width: 100%;
    margin-top: 10rem;
}

h1 {
    margin: 50px 0 0 700px;
}

.header h1::after {
    content: "";
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #022534;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content h3 {
    margin: 10px 0;
    font-weight: bold;
    font-size: 30px;
}

.content p {
    margin: 5px 0 20px;
    font-size: 27px;
}

.divider {
    width: 30%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}