.left-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: #06283d86; /* cor de fundo */
    border-radius: 8px; /* adiciona cantos arredondados */
    background-color: #06283D !important;
    color: white !important;
}

.title {
    font-weight: bold !important;
    white-space: nowrap;
}

.text-decorator-none {
    text-decoration: none;
}

.btnCancelar {
    background-color: #06283d86 !important;
    color: white !important;
    margin-right: 20px !important;
}

.cadastrar {
    background-color: #06283D !important;
    color: white !important;
    margin-left: 20px; /* espaco entre o botao e o canto esquerdo */
    padding-left: 20px; /* espaco interno do botao */
    padding-right: 20px; /* espaco interno do botao */
    height: 50px; /* altura do botao */
    width: 250px; /* largura do botao */
    font-size: 16px; /* tamanho do texto do botao */
}


.container {
    align-items: center;
    direction: row;
    justify-content: center;
}

.body {
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.senhaConfirmar {
    width: 40%;
    margin: 10px;
}