* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.header-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    position: fixed;
    top: 0;
    width: 100%;
    padding-right: 15px;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px); 
}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    width: 100%;
    height: 10vh;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-menu ul li a {
    position: relative;
    text-decoration: none;
    color: #333;
    margin-right: -8px;
    display: inline-block;
    transition: all ease-in-out .5s;
}

.header-menu ul li a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #333;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

.header-menu ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.text-gradient {
    background-image: linear-gradient(45deg, #15417b, #1197a3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 5s ease infinite alternate;
}

.title {
    padding: 15px 580px 15px 120px;
    margin-left: 40px;
}

.title h2 {
    font-size: 2.5rem;
}

.title2{
    background-image: linear-gradient(45deg, #022534, #18d9eb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.lista-menu li {
    display: inline-block;
    font-size: 1.3em;
    padding-right: 50px;
}

.login {
    border: 2px solid #022534;
    background-color: #022534;
    color: #fff !important;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    font-weight: bold;
}

.login::before {
    position: absolute;
    color: #fff !important;
    width: 100%;
    height: 0 !important;
}

.effect {
    margin-right: 4rem;
    border: none;
    outline: 0 !important;
    box-shadow: none !important;
}

.title h1 {
    font-weight: bold;
}

.title h1 {
    font-weight: 200;
}

.main {
    display: flex;
    flex-direction: row;
    background-color: #EEF1FF;  
    min-height: 100vh;
    align-items: center;
    padding-left: 50px;
    justify-content: space-evenly;
}

aside {
    margin: 60px 30px 0 0;
}

.main img {
    margin-top: 2.7rem;
    width: 46.875rem;
    height: 43.75rem;
    justify-content: center;
    align-items: center;
    border-radius: 60%; 
    object-fit: cover;
}

aside h2 {
    font-size: 4rem;
}

aside h2 span {
    background-image: linear-gradient(45deg, #15417b, #18d9eb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

aside h3 {
    font-size: 3rem;
    padding-bottom: 5px;
}

aside p {
    font-size: 20px;
    max-width: 500px;
    color: #000;
    margin: 10px 0 15px 0;
}

.link-wrapper {
    margin: 20px 0 0 100px;
}

.enviar {
    margin: 20px 0 0 100px;
    padding: 22px;
    border-radius: 20px;
    border: none;
    font-size: 17px;
    background-color: #022534;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

input [type="submit"] {
    height: 50px;
    width: 50%;
}